.Button {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: auto;
    padding: 10px 0px;
    color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}

.Button:hover {
    cursor: pointer;
    color: #3b5998;
    background-color: #dfe3ee;
    border-color: #3b5998;
}

.PostButton {
    min-width: 20%;
    margin: 10px;
    padding: 5px 10px;
    color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}

.PostButton:hover {
    cursor: pointer;
    color: #3b5998;
    background-color: #dfe3ee;
    border-color: #3b5998;
}

.BtnDiv {
    text-align: center;
}