.Row {
  height: calc(100vh - 101px);
}

.Form {
  border: 1px solid #3b5998;
  border-radius: 3px;
  padding: 20px;
}

.Heading {
  text-align: center;
  color: #3b5998;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 30px;
}

.FormFields {
  margin-bottom: 30px;
}

.FormTextBox {
  width: 90%;
  margin: auto;
  text-align: center;
}

.Link {
  text-decoration: none !important;
  color: #e63b60;
}

.Link:hover {
  color: #b82f4c;
}

.SignInText {
    margin-top: 20px;
    text-align: center;
}